body {
    font-family: 'Arial', sans-serif;
}

.jumbotron {
    background-color: #f8f9fa;
    color: #333;
}

.jumbotron .lead {
    font-weight: bold;
}

.img-fluid {
    max-width: 200px;
    height: auto;
}